/* lato-100 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'),
         url('./assets/lato-v16-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/lato-v16-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-300 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'),
         url('./assets/lato-v16-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/lato-v16-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-regular - latin */
  @font-face {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      src: local('Lato Regular'), local('Lato-Regular'),
           url('.assets/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
           url('./assets/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* lato-700 - latin */
    @font-face {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      src: local('Lato Bold'), local('Lato-Bold'),
           url('./assets/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
           url('./assets/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* lato-900 - latin */
    @font-face {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 900;
      src: local('Lato Black'), local('Lato-Black'),
           url('./assets/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
           url('./assets/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
  
    html {
      box-sizing: border-box;
    }
  
    *, 
    *::before, 
    *::after {
      box-sizing: inherit;
    }
  
    .wrapper {
      max-width: 1020px;
      margin: 0 auto;
      padding-left: 40px;
      padding-right: 40px;
    }

    body {
        margin: 0;
    }

    .portfolio {
      height: 870px;
      background-color: #2d303a;
      padding-top: 63px;
      padding-bottom: 50px;
      border-bottom: 6px solid #323746;
      overflow: hidden;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
        line-height: 30px;
        color: #666d89;
        font-family: "Lato", Arial, sans-serif;
        font-weight: 900;
        letter-spacing: -0.1px;
      }

    p {
        font-size: 18px;
        line-height: 30px;
        color: #767e9e;
        font-family: "Lato", Arial, sans-serif;
        font-weight: 300;
    }

    .portfolio__paragraph {
        margin-top: 21px;
        margin-bottom: 11px;
        margin-left: 0.5px;
    }

    .tag {
        margin-left: 1px;
        margin-right: 5px;
        padding: 2.5px 6.7px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 22px;
        font-family: "Lato", Arial, sans-serif;
        font-weight: 400;
        letter-spacing: -0.10px;
    }

    .tag_bordered {
        color: #767e9e;
        border: 1px solid #666d89;
    }

    .tag_selected {
        color: #dedede;
        border: 1px solid #c5c5c5;
    }

    .tag:hover {
        color: #dedede;
        border-color: #c5c5c5;
    }

    .tag:nth-child(3) {
        padding-left: 6px;
        padding-right: 6px;
    }

    .tag:last-child {
        padding-left: 6px;
        padding-right: 5.5px;
    }

    a {
        text-decoration: none;

      }

    .layout-4-column {
        margin-top: 19px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .about-us {
        height: 734px;
        background-color: #f2f2f2;
        border-bottom: 6px solid #ffffff;
        padding-top: 62px;
    }

    .about-us__paragraph {
        text-align: justify;
    }

    .layout-3-column {
        margin-top: 44px;
        margin-left: -2px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .about-us__workers div:last-child{
        margin-left: 2px;
    }

    .employee_title {
        margin-top: 11px;
        margin-left: 2px;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 18px;
        color: #666d89;
        font-family: "Lato";
        font-weight: 700;
        letter-spacing: -0.15x;
      }

    .employee_scolara {
        margin-left: 0;
        margin-top: 10px;
        letter-spacing: 0.1px;
    }

    .employee_desmond {
        margin-top: 10px;
    }

    .employee_description {
        margin-top: 10px;
        margin-left: 2px;
        padding-right: 2px;
        font-size: 12px;
        line-height: 21.5px;
        color: #767e9e;
        font-family: "Lato";
        font-weight: 400;
        text-align: justify;
    }

      .adam_description {
          word-spacing: -0.5px;
      }

      .desmond_description {
          padding-left: 1px;
      }

      .scolara_description {
          margin-left: 0.5px;
      }

      .adam_second_letter {
          word-spacing: 0;
      }

      .employee_social {
          margin-top: 23px;
      }

      .employee_social input {
          margin-right: 2.9px;
      }

      .employee_social input:nth-child(2),
      .employee_social input:nth-child(3) {
          margin-right: 2px;
      }

      .scolara_social input:first-child {
          margin-left: -2px;
      }

    

