/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('/assets/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('/assets/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('/assets/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
      box-sizing: border-box;
  }

  *, 
  *::before, 
  *::after {
      box-sizing: inherit;
  }

  .wrapper {
    margin: 0 auto;
  }

  .header {
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
  }

  h1 {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
  }

  a {
    text-decoration: none;
  }

  span {
      color: #f06c64;
  }

  .header-bottom {
    width: 1020px;
    height: 6px;
    background-color: #323746;
  }

  .header-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-left: 40px;
  }

  .header-list {
      display: flex;
      flex-wrap: wrap;
      margin-right: 40px;
  }

  .header-item {
      margin-right: 25px;
  }

  .header-link {
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
  }